.navbar {
    height: 100vh; /* 100% of the viewport height */
    width: calc(1/10 * 100vw); /* 1/7 of the viewport width */
    background-color: #1a1a1a; /* Background color, adjust as needed */
    color : #e6e6e6;
    position: fixed; /* Fixed position to stay in place */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the very left of the screen */
  }
  
/* Additional styling, adjust as needed */
.navLink {
display: inline-block;
padding: 20px 0px;
text-decoration: none;
transition: color 0.3s ease, background-color 0.3s ease;
width: calc(1/10 *100vw);
text-align: center;
}
.navLink:hover {
    color: gray; /* Darken color on hover */
    background-color: #808080; /* Add a background color on hover */

}
