.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html * {
  font-size: 1em !important;
  color: #fff !important;
  font-family: sans-serif !important;
  padding: 0;
}

html {
  background-color: #444;
  margin: 2em;
  border-radius: 10px;
}

nav {
  padding: 0px;
  margin: 0px;
}

nav li {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

nav a:active {
  background-color: #4CAF50;
}

.chatWindow {
  padding: 10px;
}

.clientMessage {
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 10px;
  background-color: #4CAF50;
  display: inline-block;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 75%;
  float: right;
  clear: both;
}

.botMessage {
  border: 2px solid #4C50AF;
  border-radius: 10px;
  padding: 10px;
  background-color: #4C50AF;
  display: inline-block;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 75%;
  float: left;
  clear: both;
}

.messageInput {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.entryHeader {
  clear: both;
  margin-bottom: 0px;
  flex: 1 0 auto;
}

.entryPrompt {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  margin-top: 0.25em;
  height: 16em;
  flex: 1 1 auto;
  min-width: 0;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.entryDiv {
  display: flex;
  flex-wrap: wrap;
}

.entrySubmitButton {
  background-color: #4CAF50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 1em;
  margin-top: 0.25em;
}

.goalPrompt {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.goalSubmit {
  background-color: #4CAF50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 1em;
  margin-top: 0.25em;
}

#myChart {
  max-width: 800px;
  max-height: 500px;
  float: center;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}